<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FU_Library_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FU_Library_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="~/images/logo.png" alt="FPT University Logo">
            </div>
            <div class="welcome-info">
                <h1>Welcome to <strong style="color: #f3030f;">FPT Library</strong> </h1>
                <p>Open: 08:15 - 21:00 Weekday | 08:00 - 12:00 & 13:00 - 17:00 Weekend</p>
            </div>
            <div class="language-login">
                <a href="/Auth/Login">Login</a> | <a href="#">Vietnamese</a>
            </div>
        </div>
        <nav class="navigation">
            <ul class="h-100">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Nội quy</a></li>
                <li><a href="#">Dịch vụ</a></li>
                <li><a href="#">Bộ sưu tập</a></li>
                <li><a href="#">Tin tức</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FU_Library_Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>