<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FU_Library_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FU_Library_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row py-3">
                <div class="col-md-3 col-12 d-flex align-items-center">
                    <a href="/" title="Thư viện đại học FPT">
                        <img src="https://upload.wikimedia.org/wikipedia/vi/2/2d/Logo_Tr%C6%B0%E1%BB%9Dng_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_FPT.svg" alt="Thư viện đại học FPT" class="img-fluid" style="max-width: 100px;">
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <h1 class="display-6 fw-bold"><strong class="text-danger">FPTU Library</strong></h1>
                    <p class="lead">Open: 08:15 - 21:00 Weekday | 08:00 - 12:00 &amp; 13:00 - 17:00 Weekend</p>
                </div>
                <div class="col-md-3 col-12 d-flex align-items-center justify-content-end">
                    <button class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Pages/Index/12">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Pages/Index/15">Rules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/News">News</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>FPT University Library</h5>
                    <ul>
                        <li>Phòng 107, Tòa nhà Delta, Đại học FPT, Khu CNC Hòa Lạc, Hà Nội</li>
                        <li><a href="mailto:thuvien_fu_hoalac@fpt.edu.vn">thuvien_fu_hoalac@fpt.edu.vn</a></li>
                        <li>02466 805 912</li>
                    </ul>
                </div>


                <div class="col-md-3">
                    <h5 class="fw-bold">Follow us</h5>
                    <a href="https://www.facebook.com/thuvienfu" class="text-muted fs-4 me-3"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCXavXXYzplrnIeVl0-wR3uw" class="text-muted fs-4"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>