<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FU_Library_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FU_Library_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/">
                    <img src="~/images/logo.png" alt="FPT University Logo">
                </a>
            </div>
            <div class="welcome-info">
                <h1>Welcome to <strong style="color: #f3030f;">FPT Library</strong> </h1>
                <p>Open: 08:15 - 21:00 Weekday | 08:00 - 12:00 & 13:00 - 17:00 Weekend</p>
            </div>
            <div class="language-login">
                <a href="/Auth/Login">Login</a> | <a href="#">Vietnamese</a>
            </div>
        </div>
        <nav class="navigation">
            <ul class="h-100">
                <li><a href="/">Trang chủ</a></li>
                <li style="position: relative"><a href="#">Tin tức</a>
                    <ul class="dropdown-menu" aria-labelledby="newsDropdown">
                        <li><a class="dropdown-item" asp-area="" asp-page="/TestNews/Index">Tin hoạt động</a></li>
                    </ul>
                </li>
                <li style="position: relative">
                    <a href="#">Tác giả</a>
                    <ul class="dropdown-menu" aria-labelledby="authorDropdown">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Authobook/Index">Danh sách tác giả</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Authobook/Create">Tạo tác giả</a></li>
                    </ul>
                </li>
                <li style="position: relative">
                    <a href="#">Loại sách</a>
                    <ul class="dropdown-menu" aria-labelledby="bookCategoryDropdown">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Cate/Index">Danh sách loại sách</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Cate/Create">Tạo loại sách</a></li>
                    </ul>
                </li>
                <li style="position: relative">
                    <a href="#">Sách</a>
                    <ul class="dropdown-menu" aria-labelledby="bookDropdown">
                        <li><a class="dropdown-item" asp-area="" asp-page="/Book/Index">Danh sách sách</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-page="/Book/Create">Tạo sách</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <style>
        /* Ẩn menu con mặc định */
        .navigation ul.dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: white;
            padding: 0;
            margin: 0;
            color: #000;
            list-style: none;
            z-index: 1; 
        }

        .navigation li:hover > ul.dropdown-menu {
            display: block;

        }
    </style>
    @RenderBody()
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FU_Library_Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>