@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FU_Library_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FU_Library_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-container d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="/">
                    <img src="~/images/logo.png" alt="FPT University Logo">
                </a>
            </div>
            <div class="welcome-info text-center mx-auto">
                <h1>Welcome to <strong style="color: #f3030f;">Thư viện FPT</strong> </h1>
                <p>Open: 08:15 - 21:00 Weekday | 08:00 - 12:00 & 13:00 - 17:00 Weekend</p>
            </div>

            <div class="d-flex ms-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="language-login">
                        <a class="nav-link" href="/Auth/Logout">Đăng xuất</a>
                    </div>
                    <div class="language-login ms-3">
                        <div class="navbar-text">@User.FindFirstValue(ClaimTypes.Name)</div>
                    </div>
                }
                else
                {
                    <div class="language-login">
                        <a href="/Auth/Login">Đăng nhập</a>
                    </div>
                }
            </div>
        </div>

        <nav class="navigation">
            <ul class="h-100">
                <li><a href="/">Trang chủ</a></li>
                <li style="position: relative">
                   
                        <a asp-area="Admin" asp-page="/New/Index">Tin tức</a>
                    @* <ul class="dropdown-menu" aria-labelledby="newsDropdown">
                        <li><a class="dropdown-item" asp-area="Admin" asp-page="/New/Index">Tin hoạt động</a></li>
                    </ul> *@
                </li>
                @if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
                {
                    <li style="position: relative">
                        <a asp-area="Admin" asp-page="/Authorbook/Index">Tác giả</a>
                    </li>

                    <li style="position: relative">
                        <a asp-area="Admin" asp-page="/Category/Index">Loại sách</a>
                    </li>

                    <li style="position: relative">
                        <a asp-page="/Book/Index">Danh sách sách</a>
                    </li>
                }
            </ul>
        </nav>
    </header>

    <style>
        .navigation ul.dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: white;
            padding: 0;
            margin: 0;
            color: #000;
            list-style: none;
            z-index: 1;
        }

        .navigation li:hover > ul.dropdown-menu {
            display: block;
        }
    </style>
    @RenderBody()
  

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>