@page
@model FU_Library_Web.Pages.ReqStatus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RequestStatus</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus.StatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus.StatusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RequestStatus.RequestStatusId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
