@page
@model FU_Library_Web.Areas.Book.Pages.AdvancedSearchModel
@{
}
<style>
    .main-content {
        min-height: 700px;
        background: #f1f1f1;
    }

    .opac-search h3.title {
        margin-top: 20px;
    }

        .opac-search h3.title span {
            font-size: 30px;
            font-weight: bold;
        }

    #opac-search-container {
        margin-top: 20px;
    }

    .custom-tab.nav-tabs > li.active > a,
    .custom-tab.nav-tabs > li.active > a:hover,
    .custom-tab.nav-tabs > li.active > a:focus {
        background-color: #faae2d;
        color: #fff;
        border-color: transparent;
    }

    .form-cn {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 30px 30px 30px;
        border-top: 5px solid #faae2d;
        background: #fff;
    }

    .form-cn.child {
        padding: 0 15px 9px;
        border-bottom: 1px solid #faae2d;
        border-left: 1px solid #faae2d;
        border-right: 1px solid #faae2d;
        margin-bottom: 20px;
    }

    #form-quick-content .form-search {
        margin-top: 20px;
    }

    .form-search .select-options {
        width: 100%;
    }

    .slOptions {
        width: 100%;
        height: 30px !important;
        padding: 5px;
        font-size: 13px;
    }

    .form-search input.txtSearch {
        height: 30px !important;
        width: 100%;
        padding: 5px;
        border: 1px solid #c3c3c3;
        border-radius: 0;
        color: #034cab;
        font-weight: bold;
        font-size: 13px;
    }

    .form-search input#btnSearch {
        height: 30px !important;
        margin-left: -100px;
        color: white;
        background-color: #f26f21;
        border: 1px solid #f26f21;
        font-size: 13px;
        width: 88px;
    }

    .form-search input#btnAdvancedSearch {
        height: 30px !important;
        color: white;
        background-color: #337ab7;
        border: 1px solid #337ab7;
        font-size: 13px;
        width: 88px;
    }

    .form-search input#btnAdvancedReset {
        height: 30px !important;
        color: white;
        background-color: #f26f21;
        border: 1px solid #f26f21;
        font-size: 13px;
        width: 88px;
    }

    .text-md-right {
        text-align: right !important;
    }

    .align-self-center {
        align-self: center !important;
    }

    .col-form-lable {
        padding-top: calc(0.375rem + 2px);
        padding-bottom: calc(0.375rem + 2px);
        margin-bottom: 0;
        font-size: 15px;
    }

    #form-advanced-content .form-search {
        margin-top: 20px;
    }

    .divProcessing {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('Content/Images/ajax-loader.gif') center no-repeat #fff;
    }
</style>

<div class="divProcessing" style="display:none;"></div>

<!-- Tin hoạt động -->


<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="opac-search">
                    <h3 class="title" style="text-align: center">
                        <span>Tìm kiếm nâng cao</span>
                    </h3>

                    <div id="opac-search-container">
                        <ul class="nav nav-tabs custom-tab">
                            <li>
                                <a data-toggle="tab" name="form-quick" href="#form-quick">TÌM NHANH</a>
                            </li>
                            <li class="active">
                                <a data-toggle="tab" name="form-advanced" href="#form-advanced">NÂNG CAO</a>
                            </li>
                        </ul>
                    </div>

                    <div id="opac-search-block" class="tab-content">
                        <div id="form-quick" class="tab-pane">
                            <form method="get" action="https://library.fpt.edu.vn/SearchBook" onsubmit="return validateForm()">
                                <div id="form-quick-content" class="form-cn child">
                                    <div class="form-search row">
                                        <div class="col-md-2">
                                            <div class="select-options">
                                                <select name="options" class="slOptions">
                                                    <option value="0" selected="selected">---Tất cả---</option>
                                                    <option value="1">Nhan đề</option>
                                                    <option value="2">Tác giả</option>
                                                    <option value="3">Nhà xuất bản</option>
                                                    <option value="4">Chỉ số DDC</option>
                                                    <option value="5">Ngôn ngữ</option>
                                                    <option value="6">Từ khóa</option>
                                                    <option value="7">Môn học</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="search" class="txtSearch form-control" id="txtSearch" name="keyword" placeholder="Từ khóa tìm kiếm" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="form-search row" style="text-align: center; margin-top: 10px">
                                        <input type="submit" id="btnSearch" value="Tìm kiếm" />
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="form-advanced" class="tab-pane active">
                            <form method="get" action="https://library.fpt.edu.vn/AdvancedSearchBook/AdvancedSearch" onsubmit="return validateAdvancedForm()">
                                <div id="form-advanced-content" class="form-cn child">
                                    <div class="form-search">
                                        <div class="form-radio" style="margin-bottom: 5px; border-bottom: 1px dotted #333">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <select class="slOptions" data-val="true" data-val-number="The field Thư viện must be a number." id="LibID" name="LibID">
                                                        <option value="0">----- Tất cả thư viện ----</option>
                                                        <option value="114">Thư viện BTEC Hà Nội</option>
                                                        <option value="58">Thư viện Trung tâm FPT Arena 1 Hà Nội</option>
                                                        <option value="59">Thư viện Trung tâm FPT Arena 2 Hà Nội</option>
                                                        <!-- more options here -->
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <select class="slOptions" data-val="true" data-val-number="The field Kho must be a number." id="LocationID" name="LocationID">
                                                        <option value="0">----- Tất cả kho ----</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <select class="slOptions" id="ItemTypeCode" name="ItemTypeCode">
                                                        <option value="AllFields">----- Toàn bộ tài liệu ----</option>
                                                        <option value="SH">Sách, chuyên khảo, tuyển tập</option>
                                                        <option value="BB">Bài trích</option>
                                                        <!-- more options here -->
                                                    </select>
                                                </div>

                                                <div class="col-md-3">
                                                    <select name="orderOptions" class="slOptions">
                                                        <option value="0" selected="selected">---Sắp xếp theo---</option>
                                                        <option value="1">Nhan đề chính</option>
                                                        <option value="2">Tác giả chính</option>
                                                        <option value="3">Năm xuất bản</option>
                                                        <option value="4">Nhà xuất bản</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-element" style="margin-top: 10px">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <select name="options1" class="slOptions">
                                                            <option value="0" selected="selected">---Tất cả---</option>
                                                            <option value="1">Nhan đề</option>
                                                            <option value="2">Tác giả</option>
                                                            <option value="3">Nhà xuất bản</option>
                                                            <option value="4">Chỉ số DDC</option>
                                                            <option value="5">Ngôn ngữ</option>
                                                            <option value="6">Từ khóa</option>
                                                            <option value="7">Môn học</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-7">
                                                        <input type="search" class="txtSearch" id="txtSearchText1" name="txtSearchText1" placeholder="Từ khóa tìm kiếm" />
                                                    </div>

                                                    <div class="col-md-3"></div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <select name="options2" class="slOptions">
                                                        <option value="0" selected="selected">---Tất cả---</option>
                                                        <option value="1">Nhan đề</option>
                                                        <option value="2">Tác giả</option>
                                                        <option value="3">Nhà xuất bản</option>
                                                        <option value="4">Chỉ số DDC</option>
                                                        <option value="5">Ngôn ngữ</option>
                                                        <option value="6">Từ khóa</option>
                                                        <option value="7">Môn học</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-7">
                                                    <input type="search" class="txtSearch" id="txtSearchText2" name="txtSearchText2" placeholder="Từ khóa tìm kiếm" />
                                                </div>

                                                <div class="col-md-3">
                                                    <select name="operator2" class="slOptions">
                                                        <option value="1" selected="selected">Và</option>
                                                        <option value="2">Hoặc</option>
                                                        <option value="3">Không</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <select name="options3" class="slOptions">
                                                        <option value="0" selected="selected">---Tất cả---</option>
                                                        <option value="1">Nhan đề</option>
                                                        <option value="2">Tác giả</option>
                                                        <option value="3">Nhà xuất bản</option>
                                                        <option value="4">Chỉ số DDC</option>
                                                        <option value="5">Ngôn ngữ</option>
                                                        <option value="6">Từ khóa</option>
                                                        <option value="7">Môn học</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-7">
                                                    <input type="search" class="txtSearch" id="txtSearchText3" name="txtSearchText3" placeholder="Từ khóa tìm kiếm" />
                                                </div>

                                                <div class="col-md-3">
                                                    <select name="operator3" class="slOptions">
                                                        <option value="1" selected="selected">Và</option>
                                                        <option value="2">Hoặc</option>
                                                        <option value="3">Không</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <select name="options4" class="slOptions">
                                                        <option value="0" selected="selected">---Tất cả---</option>
                                                        <option value="1">Nhan đề</option>
                                                        <option value="2">Tác giả</option>
                                                        <option value="3">Nhà xuất bản</option>
                                                        <option value="4">Chỉ số DDC</option>
                                                        <option value="5">Ngôn ngữ</option>
                                                        <option value="6">Từ khóa</option>
                                                        <option value="7">Môn học</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-7">
                                                    <input type="search" class="txtSearch" id="txtSearchText4" name="txtSearchText4" placeholder="Từ khóa tìm kiếm" />
                                                </div>

                                                <div class="col-md-3">
                                                    <select name="operator4" class="slOptions">
                                                        <option value="1" selected="selected">Và</option>
                                                        <option value="2">Hoặc</option>
                                                        <option value="3">Không</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row" style="text-align: center; margin-top: 20px">
                                            <input type="submit" id="btnAdvancedSearch" value="Tìm kiếm" class="btn btn-primary" />

                                            <input type="reset" id="btnAdvancedReset" value="Tìm lại" class="btn btn-warning" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="clear"></div>
    </div>
