@page
@model FU_Library_Web.Areas.Book.Pages.IndexModel
@{
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<section class="navigation-menu clearfix">
    <div class="menu-top">
        <nav class="navbar nav-menu">
            <div class="navbar-header">
                <!-- Mobile toggle button -->
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Navbar for mobile menu -->
            <div id="mobile-menu" class="mobile-menu collapse navbar-collapse">
                <ul class="menu nav navbar-nav">
                    <li class="level0"><a href="index.html"><span>Trang chủ</span></a></li>
                    <li class="level0">
                        <a href="Pages/Index/12.html"><span>Giới thiệu</span></a>
                        <ul class="level1">
                            <li class="level1"><a href="Pages/Index/12.html"><span>Giới thiệu Thư viện</span></a></li>
                            <li class="level1"><a href="Pages/Index/3.html"><span>Giờ mở cửa</span></a></li>
                        </ul>
                    </li>
                    <li class="level0"><a href="Pages/Index/15.html"><span>Nội quy</span></a></li>
                    <li class="level0">
                        <a href="index.html"><span>Dịch vụ</span></a>
                        <ul class="level1">
                            <li class="level1"><a href="Pages/Index/9.html"><span>Dịch vụ mượn, trả tài liệu</span></a></li>
                            <li class="level1"><a href="Pages/Index/1.html"><span>Dịch vụ gia hạn tài liệu</span></a></li>
                            <li class="level1"><a href="Pages/Index/7.html"><span>Gia hạn tài liệu tự động</span></a></li>
                            <li class="level1"><a href="https://forms.office.com/pages/responsepage.aspx?id=FUgF13Um-UyLP8cCIiudOJmxZM8R_WBMid51fxY8_E9UQk0xV0JJSTUyWU1LUzkxOUgyQTFPQkw2Qi4u"><span>Dịch vụ đề nghị tài liệu</span></a></li>
                            <li class="level1"><a href="Pages/Index/17.html"><span>Dịch vụ phòng học nhóm</span></a></li>
                            <li class="level1"><a href="Pages/Index/18.html"><span>Phí thư viện</span></a></li>
                            <li class="level1"><a href="Pages/Index/16.html"><span>MyEnglishLAB</span></a></li>
                        </ul>
                    </li>
                    <li class="level0">
                        <a href="index.html"><span>Bộ sưu tập</span></a>
                        <ul class="level1">
                            <li class="level1"><a href="Pages/Index/11.html"><span>Books24x7</span></a></li>
                            <li class="level1"><a href="Pages/Index/13.html"><span>Dspace</span></a></li>
                        </ul>
                    </li>
                    <li class="level0">
                        <a href="News.html"><span>Tin tức</span></a>
                        <ul class="level1">
                            <li class="level1"><a href="News/ArticleType/1.html"><span>Tin hoạt động</span></a></li>
                            <li class="level1"><a href="News/ArticleType/2.html"><span>Tin thư viện</span></a></li>
                            <li class="level1"><a href="News/ArticleType/4.html"><span>Tin sự kiện</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>




<div class="clear"></div>
        </div>
<div class="main-wrapper">
    <!-- Tin hoạt động -->
    <!-- Search -->
    <div class="main-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-search-block">

                        <form method="get" action="https://library.fpt.edu.vn/SearchBook" onsubmit="return validateForm()" style="position: absolute; top: 25%; left: 14%;">
                            <div class="main-search-block-content">
                                <div class="select-options">
                                    <select name="options" id="slOptions">

                                        <option value="0" selected="selected">All</option>
                                        <option value="1">Title</option>
                                        <option value="2">Author</option>
                                        <option value="3">Publisher</option>
                                        <option value="4">DDC</option>
                                        <option value="5">Language</option>
                                        <option value="6">Keyword</option>
                                        <option value="7">Subject</option>
                                        <option value="8">ISBN</option>
                                    </select>
                                </div>
                                <input type="search" id="txtSearch" name="keyword" size="100" placeholder="Everything" autocomplete="off" />
                                <input type="submit" id="btnSearch" value="Search" />
                            </div>
                        </form>
                        <div style="margin-top: 30px; margin-left: 7%; position: absolute;">
                            <a style="color: white; font-size: 15px" href='AdvancedSearchBook.html' target="_blank">
                                Advanced Search
                            </a>
                            <span style="color: white; border-right: 2px solid white; margin-right: 10px; margin-left: 10px"></span>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdO8zgKNu7i9hpbeyj5fKdnMIFk483_iDJsqWJSQ6DtUmhh6A/viewform" target="_blank" style="color: white; font-size: 15px;">
                                Request material
                            </a>
                            <span style="color: white; border-right: 2px solid white; margin-right: 10px; margin-left: 10px"></span>
                            <a style="color: white; font-size: 15px" target="_blank" href='NewMaterialace3.html?libFilter=0&amp;monthFilter=11&amp;yearFilter=2024'>
                                New material
                            </a>
                            <span style="color: white; border-right: 2px solid white; margin-right: 10px; margin-left: 10px"></span>
                            <a style="color: white; font-size: 15px" target="_blank" href='ReadALot.html'>
                                Read a lot
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery from CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Bootstrap JS from CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>