@page
@model FU_Library_Web.Areas.Admin.Pages.New.CreateModel

@{
    ViewData["Title"] = "Create";
}
<style>
    .custom-form {
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        margin-top: 20px;
    }

        .custom-form .form-group {
            margin-bottom: 15px;
        }

</style>
<h1>Create</h1>

<div class="text-center">
    <h4>News</h4>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post" class="custom-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="News.Title" class="control-label"></label>
                <input asp-for="News.Title" class="form-control" />
                <span asp-validation-for="News.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Content" class="control-label"></label>
                <input asp-for="News.Content" class="form-control" />
                <span asp-validation-for="News.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
