@page
@model FU_Library_Web.Areas.Auth.Pages.IndexModel
@{
    Layout = "_Layout";
}

        @if (!ModelState.IsValid)
        {
            <div class="error-message">
                @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }

<div class="row">
    <div class="col-7 m-0 p-0" style="height: 400px">
        <img src="~/images/fpt-university.jpg" class="img-fluid" alt="Library Closure Notice">
    </div>
    <div class="col-5 login-form">
        <form method="post" asp-page-handler="Login">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" placeholder="Email" name="Email" required />
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password" name="Password" required />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="forgot-password">
            <a href="#">Forgot Password?</a>
        </div>
    </div>
</div>
